@use '../abstracts/colors' as color;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;

    .headerBrand span {
        font-size: 4rem;
        background: linear-gradient(264.26deg, #FF267A 0%, #FFA634 101.03%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .headerContent {
        display: flex;
        align-items: center;
        gap: 7rem;
    }

    .headerNav li {
        color: color.$white;
        font-size: 1.9rem;
        display: flex;
        align-items: center;
        gap: 1.5rem;
        cursor: pointer;

        svg {
            font-size: 2.1rem;
        }
    }
}



// search bar

.containerSearchBar {
    position: relative;
    box-sizing: border-box;
    width: fit-content;
    cursor: pointer;
}

.mainBox {
    box-sizing: border-box;
    position: relative;
    width: 23rem;
    height: 5rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    border-radius: 16rem;
    background-color: rgba(18, 16, 34, 0.842);
    // background: linear-gradient(264.26deg, #FF267A 0%, #FFA634 101.03%);

    transition: all 0.3s ease;
}

.inputCheckbox:focus {
    border: none;
    outline: none;
}

.inputCheckbox:checked {
    right: 1rem;
}

.inputCheckbox:checked~.mainBox {
    width: 5rem;
}

.inputCheckbox:checked~.mainBox .searchInput {
    width: 0;
    height: 0px;
}

.inputCheckbox:checked~.mainBox .iconContainer {
    padding-right: .8rem;
}

.inputCheckbox {
    box-sizing: border-box;
    width: 3rem;
    height: 4.5rem;
    position: absolute;
    right: 1.7rem;
    top: .2rem;
    z-index: 9;
    cursor: pointer;
    appearance: none;
}

.searchInput {
    box-sizing: border-box;
    height: 100%;
    width: 17rem;
    background-color: transparent;
    border: none;
    outline: none;
    padding-bottom: .4rem;
    padding-left: 1rem;
    font-size: 1.6rem;
    color: white;
    transition: all 0.3s ease;
    font-family: 'Open Sans', sans-serif;
}

.searchInput::placeholder {
    color: rgba(255, 255, 255, 0.776);
}

.iconContainer {
    box-sizing: border-box;
    padding-top: .5rem;
    width: fit-content;
    transition: all 0.3s ease;
}

.searchIcon {
    box-sizing: border-box;
    fill: white;
    font-size: 2.5rem;
}