@use '../abstracts/colors' as color;
@use '../abstracts/breakpoints' as media;

.header {
    background-color: #0e142783;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4rem;
    }

    .headerBrand span {
        font-size: 4rem;
        background: linear-gradient(264.26deg, #FF267A 0%, #FFA634 101.03%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .headerContent {
        display: flex;
        align-items: center;
        gap: 7rem;
    }

    .headerNav {
        background-color: rgb(18, 16, 34);
        border-radius: 2rem 0 0 2rem;
        position: absolute;
        transform: translateY(17rem);
        right: 0;
        width: 0;
        padding: 0;
        transition: all .6s;
        opacity: 0;
        padding: 3rem;
        z-index: 10;

        @include media.laptops {
            background-color: rgba(18, 16, 34, 0.842);
            padding: 0;
            position: static;
            transform: translate(0, 0);
            background-color: transparent;
            display: flex;
            align-items: center;
            gap: 8rem;
            opacity: 100;
            width: max-content;
        }

        .headerList {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            position: relative;

            @include media.laptops {
                flex-direction: row;
                gap: 4rem;
            }
        }

        .listItem {
            color: color.$white;
            font-size: 1.9rem;
            display: flex;
            align-items: center;
            gap: 1.5rem;
            cursor: pointer;
            white-space: nowrap;

            svg {
                font-size: 2.1rem;
            }
        }
    }

    .headerMenuDropdown {
        background-color: #21203c;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        font-size: 1.6rem;
        position: absolute;
        top: 5rem;
        overflow: hidden;
        opacity: 0;
        transition: all .5s;
        transform: translateY(-3rem);
        pointer-events: none;
        z-index: 10;

        .dropdownItem {
            transition: all .3s;
            padding: 1.5rem 2rem;

            a {
                display: inline-block;
                width: 100%;
                height: 100%;
            }

            &:hover {
                background-color: #333253;
            }
        }
    }

    .menuDropdownActive {
        opacity: 1;
        transform: translateY(0);
        padding-right: 0;
        pointer-events: all;
    }

    @media (width <=992px) {
        .menuMobileActive {
            transform: translateY(17rem);
            width: 29rem;
            opacity: 100;
        }
    }


    // button mobile

    .headerButtonMobile {

        @include media.laptops {
            display: none;
        }

        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        .container {
            display: block;
            position: relative;
            cursor: pointer;
            font-size: 20px;
            user-select: none;
        }

        .checkmark {
            position: relative;
            top: 0;
            left: 0;
            height: 1.3em;
            width: 1.3em;
        }

        .checkmark span {
            width: 32px;
            height: 2px;
            background-color: white;
            position: absolute;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
        }

        .checkmark span:nth-child(1) {
            top: 10%;
        }

        .checkmark span:nth-child(2) {
            top: 50%;
        }

        .checkmark span:nth-child(3) {
            top: 90%;
        }

        .container input:checked+.checkmark span:nth-child(1) {
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
            -webkit-transform: translateY(-50%) rotate(45deg);
            -moz-transform: translateY(-50%) rotate(45deg);
            -ms-transform: translateY(-50%) rotate(45deg);
            -o-transform: translateY(-50%) rotate(45deg);
        }

        .container input:checked+.checkmark span:nth-child(2) {
            top: 50%;
            transform: translateY(-50%) rotate(-45deg);
            -webkit-transform: translateY(-50%) rotate(-45deg);
            -moz-transform: translateY(-50%) rotate(-45deg);
            -ms-transform: translateY(-50%) rotate(-45deg);
            -o-transform: translateY(-50%) rotate(-45deg);
        }

        .container input:checked+.checkmark span:nth-child(3) {
            transform: translateX(-50px);
            -webkit-transform: translateX(-50px);
            -moz-transform: translateX(-50px);
            -ms-transform: translateX(-50px);
            -o-transform: translateX(-50px);
            opacity: 0;
        }
    }
}