@use '../abstracts/colors' as color;
@use '../abstracts/breakpoints' as media;

.listFilmsContainer {
    margin-top: 10rem;
    padding: 0 4rem;
    position: relative;
    z-index: 1;

    .listFilmsGrid {
        margin: 8rem 0 10rem;
        display: grid;
        gap: 5rem;

        @media (width >= 600px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @include media.tablets {
            row-gap: 7rem;
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        @include media.laptops {
            width: 100%;
            gap: 4rem;
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }

        @include media.desktops {
            gap: 3.2rem;
            grid-template-columns: repeat(5, minmax(0, 1fr));
        }
    }

    .listFilmsTitle {
        font-size: 2.4rem;
        color: color.$white;
        width: max-content;

        @include media.largeMobiles {
            font-size: 2.7rem;
        }

        @include media.tablets {
            font-size: 3rem;
        }

        &::after {
            content: '';
            display: block;
            position: relative;
            top: .7rem;
            width: 60%;
            height: 2px;
            background: linear-gradient(264.26deg, #FF267A 0%, #FFA634 101.03%);
        }
    }

    .filmContainer {
        position: relative;
        transition: all .3s;
        width: 75%;
        max-width: 25rem;
        margin: 0 auto;
        opacity: 0;

        @media (width >= 600px) {
            width: 100%;
            max-width: 27rem;
            margin: 0 auto;
        }
        
        @include media.laptops {
            width: 100%;
            margin: 0;
        }

        &::after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 25%, rgba(0, 0, 0, 0.800) 80%);
            position: absolute;
            bottom: .2rem;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 5;
            border-radius: 1rem;
        }

        .filmContainerImage img {
            width: 100%;
            border-radius: 1rem;
        }

        .filmContainerMainTitle {
            position: absolute;
            bottom: 1.5rem;
            left: 1.5rem;
            display: flex;
            flex-direction: column;
            transition: all .3s;
            z-index: 10;
          
            @include media.tablets {
                padding-right: 0;
                width: 80%;
            }
        }

        .mainTitle {
            color: white;
            font-size: 1.6rem;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

            @include media.largeMobiles {
                font-size: 1.8rem;
            }

            @include media.laptops {
                font-size: 1.6rem;
            }
        }

        .averageTitle {
            margin-top: .5rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            color: white;
            font-size: 1.7rem;

            @include media.largeMobiles {
                font-size: 1.9rem;
            }

            @include media.laptops {
                font-size: 1.6rem;
            }

            svg {
                color: yellow;
                font-size: 2rem;

                @include media.largeMobiles {
                    font-size: 2.2rem;
                }

                @include media.laptops {
                    font-size: 1.9rem;
                }
            }
        }

        .filmContainerMoreInformation {
            width: 100%;
            position: absolute;
            bottom: 1.5rem;
            left: 1.5rem;
            max-width: 80%;
            opacity: 0;
            transform: translateY(4rem);
            transition: all .3s;
            z-index: 10;
            pointer-events: none;

            .moreInformationDescription {
                margin-top: 1rem;
                font-size: 1.6rem;
                color: white;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;

                @include media.desktops {
                    font-size: 1.4rem;
                }
            }

            .btnSeeMore {
                margin-top: 1.5rem;
                width: 100%;
                padding: 1rem 0;
                background-color: #5e46fc;
                color: color.$white;
                font-size: 1.7rem;
                font-weight: 500;

                @include media.desktops {
                    padding: .7rem 0;
                    font-size: 1.5rem;
                }
            }
        }

        .filmContainerBackdrop {
            background-color: rgba(0, 0, 0, 0.500);
            width: 100%;
            height: 99.5%;
            position: absolute;
            bottom: .2rem;
            left: 0;
            border-radius: 1rem;
            opacity: 0;
            transition: all .2s;
        }

        &:hover .filmContainerMoreInformation {
            opacity: 100;
            transform: translateY(0);
            pointer-events: all;
        }

        &:hover .filmContainerMainTitle {
            opacity: 0;
        }

        &:hover .filmContainerBackdrop {
            opacity: 100;
        }
    }
}