@use '../abstracts/colors' as color;
@use '../abstracts/breakpoints' as media;

.movieInformationContainer {
    margin-bottom: 10rem;

    .movieInformationHeader {
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;

        .container {
            padding: 7rem 4rem;
            display: flex;
            flex-direction: column;
            color: #fff;

            @include media.laptops {
                flex-direction: row;
                gap: 8rem;
                padding: 6rem 4rem 7rem;
            }
        }

        .movieInformationImage {
            text-align: center;

            @include media.laptops {
                text-align: left;
            }

            img {
                width: 70%;
                max-width: 27rem;
                border-radius: 1rem;

                @include media.laptops {
                    width: 100%;
                    max-width: 100%;
                }
            }
        }

        .movieInformationMainInfos {
            margin-top: 4rem;
            max-width: 60rem;
            margin: 4rem auto 0;

            @include media.laptops {
                margin: 0;
            }

            @include media.desktops {
                max-width: 70rem;
            }
        }

        .movieTitle {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;

            @include media.tablets {
                gap: 8rem;
            }

            h3 {
                font-size: 2.3rem;

                @include media.tablets {
                    font-size: 3.3rem;
                }
            }

            .heartContainer input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }

            .heartContainer {
                display: block;
                position: relative;
                cursor: pointer;
                font-size: 20px;
                user-select: none;
                transition: .3s;
            }

            .checkmark {
                top: 0;
                left: 0;
                height: 2em;
                width: 2em;
                transition: .3s;
                animation: dislike_effect 400ms ease;
            }

            .heartContainer input:checked~.checkmark path {
                fill: #ff5353;
                stroke-width: 0;
            }

            .heartContainer input:checked~.checkmark {
                animation: like_effect 400ms ease;
            }

            .heartContainer .checkmark:hover {
                transform: scale(1.1);
            }

            @keyframes like_effect {
                0% {
                    transform: scale(0);
                }

                50% {
                    transform: scale(1.2);
                }

                100% {
                    transform: scale(1);
                }
            }

            @keyframes dislike_effect {
                0% {
                    transform: scale(0);
                }

                50% {
                    transform: scale(1.2);
                }

                100% {
                    transform: scale(1);
                }
            }
        }

        .movieOtherInformation {
            margin-top: 4rem;
            font-size: 1.6rem;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            @include media.tablets {
                gap: 2rem;
            }

            @include media.desktops {
                gap: 2.5rem;
                flex-direction: row;
            }

            p {
                font-weight: 700;
            }

            span {
                font-weight: normal;
            }
        }

        .movieGenre {
            margin-top: 3rem;
            font-size: 1.6rem;

            p {
                font-weight: 700;
            }

            ul {
                margin-top: 1rem;
                display: flex;
                flex-wrap: wrap;
                gap: 3rem;
                row-gap: 1.5rem;
            }

            li {
                font-weight: normal;
            }
        }

        .movieSynopsis {
            margin-top: 3rem;

            h4 {
                font-size: 2rem;
            }

            p {
                margin-top: 1rem;
                font-size: 1.5rem;
                line-height: 2.7rem;
            }
        }

        .movieDirection {
            margin-top: 4rem;
            display: flex;
            flex-wrap: wrap;
            column-gap: 7rem;
            row-gap: 4rem;

            @include media.laptops {
                width: 90%;
            }

            .movieDirectionItem h4 {
                font-size: 1.7rem;
            }

            .movieDirectionItem span {
                font-size: 1.6rem;
            }
        }
    }

    .filmCastContainer {
        padding: 0 4rem;
        margin-top: 10rem;

        .castTitle {
            font-size: 3rem;
            background: linear-gradient(264.26deg, #FF267A 0%, #FFA634 101.03%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            max-width: max-content;
        }

        .castContainer {
            margin-top: 5rem;
            display: flex;
            gap: 2rem;
            overflow-x: scroll;
            padding-bottom: 2rem;

            &::-webkit-scrollbar {
                height: 1rem !important;
            }

            &::-webkit-scrollbar-track {
                background-color: white;
                border-radius: 2rem;

            }

            &::-webkit-scrollbar-thumb {
                background-color: #05091d;
                width: 5rem;
            }
        }

        .cast {
            background-color: #f2f5ff;
            width: 18rem;
            padding: 1rem 1rem 1rem;
            flex: 1;
            flex: 0 0 auto;
        }

        .castImage {
            img {
                width: 100%;
            }
        }

        .castContent {
            margin-top: 1.5rem;
            width: 80%;

            h3 {
                font-size: 1.5rem;
                color: #171717;
            }

            span {
                display: inline-block;
                margin-top: .6rem;
                font-size: 1.4rem;
                color: #171717;
            }
        }
    }

    .trailerMovieContainer {
        margin-top: 10rem;
        padding: 0 4rem;

        .trailerTitle {
            font-size: 3rem;
            background: linear-gradient(264.26deg, #FF267A 0%, #FFA634 101.03%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            max-width: max-content;
        }

        .trailerContainer {
            margin-top: 3rem;

            iframe {
                width: 100%;
                max-width: 80rem;
                height: 25rem;

                @include media.tablets {
                    height: 40rem;
                }

                @include media.laptops {
                    height: 45rem;
                }
            }
        }
    }
}