@use '../abstracts/colors' as color;
@use '../abstracts/breakpoints' as media;

.containerSearchBar {
    margin-top: 3rem;
    position: relative;
    box-sizing: border-box;
    width: fit-content;
    cursor: pointer;
    z-index: 99999;

    @include media.laptops {
        margin-top: 0;
    }

    .mainBox {
        box-sizing: border-box;
        position: relative;
        width: 23rem;
        height: 5rem;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;
        background-color: rgba(27, 24, 46, 0.904);
        background-color: rgb(26, 24, 49);
        // background: linear-gradient(264.26deg, #FF267A 0%, #FFA634 101.03%);
        transition: all 0.3s ease;

        @include media.tablets {
            // background-color: rgba(38, 35, 65, 0.842);
            background-color: rgb(26, 24, 49);
        }

        @include media.laptops {
            width: 30rem;
            justify-content: space-between;
            padding: 0 2rem;
        }
    }

    .inputCheckbox {
        box-sizing: border-box;
        width: 3rem;
        height: 4.5rem;
        position: absolute;
        right: 1.7rem;
        top: .2rem;
        z-index: 9;
        cursor: pointer;
        appearance: none;
    }

    .searchInput {
        box-sizing: border-box;
        height: 100%;
        width: 17rem;
        background-color: transparent;
        border: none;
        outline: none;
        padding-bottom: .4rem;
        padding-left: 1rem;
        font-size: 1.6rem;
        color: white;
        transition: all 0.3s ease;
        font-family: 'Open Sans', sans-serif;
    }

    .searchInput::placeholder {
        color: rgba(255, 255, 255, 0.776);
    }

    .iconContainer {
        box-sizing: border-box;
        padding-top: .5rem;
        width: fit-content;
        transition: all 0.3s ease;
    }

    .searchIcon {
        box-sizing: border-box;
        fill: white;
        font-size: 2.5rem;
    }
}

// container search films

.openSearchBar {
    opacity: 100 !important;
    height: 27rem !important;
    pointer-events: all !important;
    z-index: 99999;

}

.containerSearchBarFilms {
    background-color: rgb(22, 20, 43);
    border-radius: 1rem;
    position: absolute;
    width: 100%;
    padding: 2rem;
    overflow-y: scroll;
    height: 0;
    opacity: 0;
    // pointer-events: none;
    transition: all .3s;
    z-index: 99999;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {

        background-color: rgb(19, 17, 37);
    }

    &::-webkit-scrollbar-thumb {
        background-color: white;
    }

    .mainTitle {
        font-size: 2rem;
        color: white;
        border-bottom: 2px solid rgb(29, 26, 49);
        padding-bottom: 1.5rem;
    }

    .containerFilms {
        margin-top: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .film {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4rem;
    }

    .filmContent {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    .filmTitle h4 {
        font-size: 1.5rem;
        font-weight: 500;
        color: color.$white;
    }

    .filmImage img {
        width: 4rem;
        border-radius: .5rem;
    }

    .releaseDate {
        font-size: 1.4rem;
        color: color.$white;
        font-weight: 500;
    }

    .iconNoPoster {
        font-size: 4rem;
        color: color.$white;
    }

    .containerLoadingIcon {
        height: 15rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .loadingIcon {
        font-size: 4rem;
        color: color.$white;
        animation: spin 1s linear infinite;
    }

    .movieNotFound {
        color: color.$white;
        font-size: 1.7rem;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
}