@mixin largeMobiles {
    @media (min-width: 361px) {
        @content
    }
}

@mixin tablets {
    @media (min-width: 768px) {
        @content
    }
}

@mixin laptops {
    @media (min-width: 992px) {
        @content
    }
}

@mixin desktops {
    @media (min-width: 1200px) {
        @content
    }
}