@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
    --brand-color: #ffa634;

    --dark-10: #121214;
    --dark-20: #181818;

    --gray: #a8a8a8;

    --white: #ffffff;
}

body {
    font-family: "Open Sans", sans-serif;
}