@use '../abstracts/colors' as color;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden !important;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: color.$blue-10;
    min-height: 100vh;
    overflow-x: hidden !important;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
    border: none;
    border-radius: .5rem;
}

.container {
    max-width: 121.6rem;
    margin: auto;
}

